body {
  background-color: #fff;
  font-family: "Encode Sans", sans-serif;
}

/* Início header */

header {
  margin-top: 15px;
  width: 100%;
  height: 80px;
}

.container_logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_logo {
  width: 171px;
  height: 36px;
  background: url(../img/logo.png) center center/171px no-repeat;
  font-size: 0;
}

nav {
  display: flex;
  justify-content: center;
  border-top: 1px solid #f5f6f7;
  border-bottom: 1px solid #f5f6f7;
  margin-top: 10px;
  padding: 10px 0;
}

.container_menu {
  height: 30px;
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_menu a {
  padding: 0px 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
}
.container_menu a:nth-child(1) {
  color: #c3170c;
}

.container_menu a:nth-child(2) {
  color: #1e4b9b;
}
.container_menu a:nth-child(3) {
  color: #006766;
}
.container_menu a:nth-child(4) {
  color: #07aa47;
}
.container_menu a:nth-child(5) {
  color: #e3662b;
}
.container_menu a:nth-child(6) {
  color: #fb0735;
}
.container_menu a:nth-child(7) {
  color: #ff75bb;
}
.container_menu a:nth-child(8) {
  color: #ec7d00;
}
.container_menu a:nth-child(9) {
  color: #323333;
}
.container_menu a:nth-child(10) {
  color: #a81d83;
}
.container_menu a:nth-child(11) {
  color: #666666;
  display: none;
}
.container_menu a:nth-child(12) {
  color: #0769de;
  display: none;
}
/* Fim header */

/* -------------------- // ------------------ */

/* Início conteúdo */

main {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.container_headlines {
  width: 78%;
  height: auto;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.container_column1 {
  width: 49%;
  height: 100%;
  margin-left: 5px;
}

.main_headline h1 {
  font-size: 52px;
  font-weight: bold;
  color: #c4160c;
  margin-bottom: 30px;
}

.main_headline h2 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #303134;
}

.main_headline a {
  text-decoration: none;
}

.secondary_headline1 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.border_top {
  border-top: 1px solid #ebedef;
}

.content_column_left {
  margin-top: 60px;
  width: 193px;
}
.content_column_left img {
  width: 193px;
  border-radius: 12px;
}
.content_column_left a {
  text-decoration: none;
}
.content_column_left h2 {
  color: #c4170c;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.content_column_left h1 {
  margin-top: 10px;
  color: #2f3134;
  font-size: 20px;
  font-weight: bold;
}

.content_column_left h3 {
  color: #2f3134;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

.secondary_headline2 {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.container_column2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.column_right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: 5%;
  border-left: 1px solid #ebedef;
}

.column_right:nth-child(1) {
  margin-right: 15px;
}

.column_right:nth-child(2) {
  margin-left: 3.5%;
  border-left: 1px solid #ebedef;
}

.content_column_right {
  margin-bottom: 50px;
  width: 240px;
}

.content_column_right img {
  width: 240px;
  border-radius: 12px;
}

.content_column_right a {
  text-decoration: none;
}
.content_column_right h2 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #16ae54;
}

.content_column_right h1 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #2f3134;
}

.content_column_right h3 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #2f3134;
}

.content_column_right h4 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #ec8006;
}

/* Responsividade 1580px */

@media (max-width: 1580px) {
  .content_column_left {
    width: 180px;
  }

  .content_column_left img {
    width: 180px;
  }
  .column_right {
    margin-left: 4%;
  }
  .column_right:nth-child(2) {
    margin-left: 4%;
  }
}

/* Responsividade 1440px */

@media (max-width: 1440px) {
  .content_column_left {
    margin-top: 30px;
    width: 160px;
  }

  .content_column_left img {
    width: 160px;
  }

  .secondary_headline2 {
    margin-top: 30px;
  }
  .column_right {
    margin-left: 2%;
  }
  .column_right:nth-child(2) {
    margin-left: 2%;
  }
}

/* Responsividade 1368px */

@media (max-width: 1368px) {
  .secondary_headline1 {
    flex-wrap: wrap;
  }
  .secondary_headline2 {
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .content_column_left {
    margin-top: 30px;
    width: 230px;
  }

  .content_column_left img {
    width: 230px;
  }
  .column_right {
    margin-left: 5%;
    border: none;
  }
  .column_right:nth-child(2) {
    border: none;
  }
}

/* Responsividade 820px */

@media (max-width: 820px) {
  .img_logo {
    width: 208px;
    height: 57px;
    background: url(../img/logo_mobile.png) center center/208px no-repeat;
    font-size: 0;
  }

  .container_menu {
    width: 94%;
  }

  .container_menu a:nth-child(1) {
    color: #c3170c;
  }

  .container_menu a:nth-child(2) {
    display: none;
  }
  .container_menu a:nth-child(3) {
    display: none;
  }
  .container_menu a:nth-child(4) {
    color: #07aa47;
  }
  .container_menu a:nth-child(5) {
    display: none;
  }
  .container_menu a:nth-child(6) {
    display: none;
  }
  .container_menu a:nth-child(7) {
    display: none;
  }
  .container_menu a:nth-child(8) {
    color: #ec7d00;
  }
  .container_menu a:nth-child(9) {
    display: none;
  }

  .container_menu a:nth-child(10) {
    display: none;
  }
  .container_menu a:nth-child(11) {
    display: block;
  }
  .container_menu a:nth-child(12) {
    display: block;
  }
  nav {
    margin-top: 20px;
    padding: 10px 0;
  }

  /* Conteúdo */
  main {
    margin-top: 40px;
  }
  .container_headlines {
    width: 95%;
    flex-wrap: wrap;
  }

  .container_column1 {
    width: 95%;
    height: auto;
  }

  .main_headline h1 {
    font-size: 32px;
  }

  .main_headline h2 {
    font-weight: bold;
    color: #cd150b;
  }

  .secondary_headline1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    border: none;
  }

  .secondary_headline2 h1,
  .secondary_headline2 h3,
  .secondary_headline1 h1,
  .secondary_headline1 h3 {
    color: #c4170c;
  }
  .content_column_left {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #e5e5e5;
  }

  .content_column_left h2 {
    display: none;
  }
  .link_content_left {
    width: 60%;
  }

  .content_column_left h1 {
    width: auto;
    font-size: 18px;
    margin-top: 1px;
  }

  .content_column_left h3 {
    margin-top: 30px;
    font-size: 16px;
    width: 100%;
  }

  .content_column_left img {
    width: 120px;
    border-radius: 4px;
  }

  .mobile_content_column_left h1 {
    width: 100%;
    margin-left: 0;
  }
  .border_top {
    border: none;
  }
  .border_top_content {
    padding-top: 20px;
    border-top: 1px solid #ebedef;
  }
  .container_column2 {
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .column_right {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .column_right:nth-child(1) {
    margin-left: 2%;
  }

  .column_right:nth-child(1) h1,
  .column_right:nth-child(1) h3 {
    color: #16ae54;
  }

  .column_right:nth-child(2) h1,
  .column_right:nth-child(2) h3 {
    color: #ec8006;
  }

  .content_column_right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .link_content_right {
    margin-left: 10px;
    width: 63%;
  }
  .content_column_right h2,
  h4 {
    display: none;
  }
  .content_column_right h1 {
    font-size: 18px;
    margin-top: 1px;
    width: 100%;
  }

  .content_column_right h3 {
    font-size: 15.5px;
  }
  .content_column_right img {
    width: 120px;
    border-radius: 4px;
  }
}

/* Responsividade 370px */

@media (max-width: 370px) {
  .link_content_left {
    width: 55%;
  }
  .link_content_right {
    width: 55%;
  }
}

/* Responsividade 305px */

@media (max-width: 320px) {
  .link_content_left {
    width: 50%;
  }
  .link_content_right {
    width: 50%;
  }
}

/* Responsividade 290px */

@media (max-width: 290px) {
  .link_content_left {
    width: 45%;
  }
  .link_content_right {
    width: 45%;
  }

  .content_column_left h1 {
    font-size: 14px;
  }

  .content_column_left h3 {
    font-size: 11px;
  }

  .content_column_right h1 {
    font-size: 14px;
  }

  .content_column_right h3 {
    font-size: 11px;
  }
}

/* Responsividade 265px */

@media (max-width: 265px) {
  .link_content_left {
    width: 40%;
  }
  .link_content_right {
    width: 40%;
  }
}

/* Responsividade 245px */

@media (max-width: 245px) {
  .link_content_left {
    width: 35%;
  }
  .link_content_right {
    width: 35%;
  }

  .content_column_left h1 {
    font-size: 11px;
  }

  .content_column_left h3 {
    font-size: 10px;
  }

  .content_column_right h1 {
    font-size: 11px;
  }

  .content_column_right h3 {
    font-size: 10px;
  }
}
